@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200&family=Roboto&display=swap");

.left_opac {
  background: linear-gradient(77deg, rgb(0 0 0 / 60%), transparent 85%);
}

.first_div {
  background-color: transparent;
  background-image: linear-gradient(
    180deg,
    hsla(0, 0%, 8%, 0) 0,
    hsla(0, 0%, 8%, 0.35) 15%,
    hsla(0, 0%, 8%, 0.55) 29%,
    hsla(0, 0%, 8%, 0.98) 44%,
    #141414 68%,
    #141414
  );
  background-position: 0 top;
  background-repeat: repeat-x;
  background-size: 100% 100%;
}
/* Assuming you have a CSS file for your component */
/* This style hides the scrollbar */
.overflow-x-scroll::-webkit-scrollbar {
  width: 0.5em; /* Adjust as needed */
}

.overflow-x-scroll::-webkit-scrollbar-track {
  background: transparent; /* Set a background color if desired */
}

.overflow-x-scroll::-webkit-scrollbar-thumb {
  background-color: transparent; /* Set a background color if desired */
}
.overflow-y-scroll::-webkit-scrollbar {
  width: 0.5em; /* Adjust as needed */
}

.overflow-y-scroll::-webkit-scrollbar-track {
  background: transparent; /* Set a background color if desired */
}

.overflow-y-scroll::-webkit-scrollbar-thumb {
  background-color: transparent; /* Set a background color if desired */
}

.preserve_z {
  transform-style: preserve-3d;
}

video:-webkit-full-screen-ancestor:not(:-webkit-full-screen) {
  display: none;
}

.no_transtion {
  transition: left 0s, right 0s, width 300ms ease-in-out,
    height 300ms ease-in-out;
}
